@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$lightest: #fdfafa;
$lightBrown: #895713;
$darkBrown: #430301;
$orange: #ef4823;
$darkBlue: #142166;
$fontStack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: $lightest;
}

body, html, #app, #app > div {
  height: 100%;
}

a {
  color: $lightest;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px
}

.slick-container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: transparent;

  .slick-slide {
    &[data-index="-1"], &[data-index="-2"] {
      display: none;
    }

    &[data-index="0"].slick-active {
      position: relative;
      left: -100px;
    }

    &.slick-center, &.slick-active, &.slick-current {
      padding: 0 50px;
    }
  }

  .slick-arrow {
    top: 35%;

    &:before {
      color: black;
      font-size: 48px;
    }

    &.slick-prev {
      left: -54px;
    }
  }
}

.slick-dots {
  position: fixed;
  bottom: 10px;
  background-color: $lightest;
  width: calc(100vw - 500px);
}

.navigation {
  background-color: transparent;
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 15px;
  display: block;
}

.alphaphreek {
  font-size: 32px;
  font-weight: 300;
  color: $lightest;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 0.05em;
  font-family: $fontStack;
  //backgroundColor: teal800,
  //paddingLeft: 40,
  //height: 56,
}

.main-header {
  h1 {
    position: relative;
    left: -30px;
    text-align: center;
    font-family: $fontStack;
    font-weight: 300;
  }
}

h3 {
  font-size: 32px;
  letter-spacing: .2em;
  text-align: center;
  font-family: $fontStack;
  font-weight: 300;
}

h4 {
  font-size: 16px;
  letter-spacing: .1em;
  text-align: center;
  font-family: $fontStack;
  font-weight: 500;
  margin-top: 8px;
  font-style: italic;
  opacity: 0.69;
  color: $darkBrown;
}
